### Tuples
A tuple in python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is  assigned whereas we can change the elements of a list .

In short, a tuple is an immutable list. A tuple can not be changed in a any way once it is created

### Characterstics
### . ordered
### . Unchangeble
### . Allows duplicate

### Plan of Attack
### . Creating a Tuple
### . Accessing items
### . Editing items
### . Adding items
### . Deleting items
### . Operations items
### . Tuple Functions

### Creating Tuples

In [6]:
# empty
t1 = ()
print(t1)
# Create a tuple with single item
t2 = (2,)
print(t2)
type(t2)
# homo
t3 = (1,2,3,4)
print(t3)
#hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
# type conversion
t6 = tuple('hello')
print(t6)

()
(2,)
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
('h', 'e', 'l', 'l', 'o')

### Accessing items
### . Indexing
### . Slicing

In [9]:
t3
print(t3[0])
print(t3[-1])

1
4

In [11]:
print(t3[::-1])

(4, 3, 2, 1)

### Editing items

In [ ]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

### Adding items

In [ ]:
print(t3)
# not possible

(1, 2, 3, 4)

### Deleting items

In [19]:
print(t3)
del t3
t3

NameError: name 't3' is not defined

In [21]:
t5
del t5[-1]

TypeError: 'tuple' object doesn't support item deletion

### Operations on Tuples

In [24]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)
print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [30]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)
sum(t)
min(t)
max(t)
sorted(t)

[1, 2, 3, 4]

In [31]:
# count
t = (1,2,3,4)
t.count(5)

0

In [33]:
# index
t.index(4)

3

### Difference between Lists and Tuples
### . Syntax
### . Mutability
### . Speed
### . Memory
### . Built in functionality
### . Error prone
### . Usability

In [35]:
import time
L = list(range(100000000))
T = tuple(range(10000000))

start = time.time()
for i in L:
    i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
    i*5
print('Tuple time',time.time()-start)

List time 6.75862979888916
Tuple time 0.6562695503234863

In [36]:
import sys
L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [37]:
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [38]:
a = (1,2,3)
b = a
a = a +(4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [40]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [41]:
# swapping 
a  = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [44]:
a,b, *others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

### Sets
### A set is an unordered collection of items. Every set element is unique(no duplicates) and must be immutable (cannot be changed).

In [46]:
# zipping tuples
a = (1,2,3,4)
b = (3,4,5,6)
list(zip(a,b))

[(1, 3), (2, 4), (3, 5), (4, 6)]

### Sets can also be used to perform mathematical set Operations like union, intersection, symmetric difference, etc.

### Characterstics
### . Unordered
### . Mutable
### . No Duplicates
### . Can't contain mutable data types

### Creating Sets

In [57]:
# empty
s =set()
print(type(s))
print(s)
# 1d and 2d
s1 = {1,2,3}
print(s1)
# homo and hetro
s3 = {1,'hello',1.1,True,(1,2)}
print(s3)
# using type conversion
s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
s6 = {1,2,[3,4]}

<class 'set'>
set()
{1, 2, 3}
{'hello', 1, (1, 2), 1.1}
{1, 2, 3}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [58]:
s1 = {1,2,3}
s2 = {3,2,1}
print(s1 == s2)

True

### Accessing Items

In [59]:
s1 = {1,2,4,5}
s1[0]

TypeError: 'set' object is not subscriptable

### Editing Items

In [60]:
s1 = {1,2,3}
s1[0] == 100

TypeError: 'set' object is not subscriptable

### Adding Items

In [63]:
s = {1,2,3,4}
# add
s.add(5)
print(s)
s.update([1,2,9])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 9}

### Deleting Items

In [ ]:
# del
s = {1,2,3,4,5}
print(s)
del s
print(s)
# discard
s.discard(50)
print(s)
# remove
s.remove(50)
print(s)
# pop
s.pop()
# clear
s.clear()
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

### Set Operation

In [68]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

1
2
3
4
5

### Set Functions

In [67]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [69]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [70]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [71]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [72]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [73]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [74]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Frozenset
Frozen set is just an immutable version of a Python set object

In [75]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [76]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [77]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [78]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

### Dictionary
Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

Mutable
Indexing has no meaning
keys can't be duplicated
keys can't be mutable items

### Create Dictionary

In [79]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
d5
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', (1, 2, 3): 2}

### Accessing items

In [80]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']
# get
my_dict.get('age')

s['subjects']['maths']

67

### Adding key-value pair

In [81]:
d4['gender'] = 'male'
d4
d4['weight'] = 72
d4

s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### Remove key-value pair

In [82]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
#d.pop(3)
#print(d)
# popitem
#d.popitem()
# d.popitem()
# print(d)
# del
#del d['name']
#print(d)
# clear
d.clear()
print(d)

del s['subjects']['maths']
s

{}

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

### Editing key-value pair

In [83]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Dictionary Operations
### Membership
### Iteration

In [84]:
print(s)

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

True

In [85]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

### Dictionary Functions

In [86]:
# len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'nitish', 'gender': 'male', 'age': 33}

'name'

In [87]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [88]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
{key : value for vars in iterable }

In [89]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [90]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [91]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [92]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [93]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [94]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [95]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}